.navbar {
    background-color: #2b5876;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-logo h2 {
    margin: 0;
    color: #4e4376;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.active-link {
    border-bottom: 2px solid white;
}

.nav-link:hover {
    color: #ccc;
}
